<html>
    <head>
        <style>
            td {border: 1px black solid;}
            #add {width: 20px;}
        </style>
        <meta charset="utf-8" />
		    <META HTTP-EQUIV="Access-Control-Allow-Origin" CONTENT="http://test-d2d.fcsystem.com/">
        <title>Clone</title>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script >
            {% javascripts '@D2DSearchEngineBundle/Resources/public/js/*' %}
                <script src="{{ asset_url }}" ></script>
                {% endjavascripts %}
            </head>
            <body>
                <form>
                    <table id="parentTable">
                        <tr id="originalTr"  class="originalTr">
                            <td>
                                <input id="sqlPath" class="sqlPath" type="text" name="sqlPath" value="D2D_PO_SearchEngine.sql"><br>
                                <input id="numPo" class="numPo" type="text" name="numPo"><br>
                                <input id="skuId" class="skuId" type="text" name="skuId"><br>
                                <button onclick="showDataForNumPo();
                                                return false;">Envoyer le resultat</button>
                            </td>
                        </tr>
                    </table>
                </form>
                <script>
                </script>
                <div id="divSearchResult"></div>
            </body>
            <!--disabled-->
        </html>
