<table border="1px" width="100%">
    <thead class='td_header'>
        {% for id, row in arrayData %}
            {% if id == 0 %}
                <tr>
                    {% for col,val in row %}
                        <td class="td_heade2">
                            {% if 'space' not in col %}
                                {{col}}
                            {%endif%}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </thead>
    <tbody>
    {% for keys, value in arrayData  %}

        <tr>         
            {%for id, val in value%}
                <td >
                    {{val}}<br>
                </td>
            {% endfor %}
        </tr>       
    {% endfor %}
    </tbody>
</table>

